<h2>Latenz</h2>
<p>Hier kann die Latenz der Applikation untersucht werden.</p>
<div class="row marketing">
    <label for="latencyColor">Lichtfarbe</label>
    <div class="active-color-swatch latency" ng-style="{'background-color':latencyColor}"></div>
    <input type="range" id="latencyColor" name="points" min="0" max="4" ng-model="latencyValue" ng-change="changeLatencyColor()">
</div>
<h2>Last</h2>
<p>Hier kann die Applikation unter Last getestet werden.</p>
<div class="row marketing">
    <label for="latencyColor">Lichtfarbe</label>
    <div class="active-color-swatch latency" ng-style="{'background-color':performanceColor}"></div>
    <p>Nachrichten gesendet: {{performanceCounter}}</p>
    <div class="form-group">
        <button class="btn btn-default" ng-click="startPerformanceTest()">Starten</button>
    </div>
</div>